.header{
border:2.5px solid darkgray;
color: darkgray;
font-size: 14.5px;
width: 320px;
font-family: 'courier', monospace ;
}
    
h2{
    font-family: 'courier' , monospace;
}
.links{
    background-color: darkgray;
    padding: 20px;
    font-size: 20;
    width: 285px;
    color: white;

}

 a: link{
    color:white;
}

.footer a{
 font-size: 15;
 color:black;
}

body{
    justify-content: center;
    margin-left: 400px;
}

#empty{
    background-color: darkblue;
    padding: 5px; ;
    width: 330px;
}

#copy{
    margin-left: 190px; 
    font-size: 14px;
}

#rsvp{
    margin-left: 60px;
}
